{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>我的订单</title>

{% endblock %}

{% block content %}


{#<script src="Script/saved_resource"></script>#}
<link rel="stylesheet" href="{% static 'css/user.css' %}" type="text/css" media="screen, projection">
<script type="text/javascript" src="{% static 'Script/user.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/user.css' %}">

<div id="main">
<div class="position">
    <a href="{% url 'bookapp:index' %}"><strong>首页</strong></a>
    <i>&gt;</i>
    <a href="{% url 'bookapp:member_center' %}" target="_parent" class="c0e7">会员中心</a>
    <i>&gt;</i>
    <span>我的评论</span>
</div>
<div class="rightArea">
    <!-- 便利提醒 Begin -->
    <div class="prompt">
        <div class="pr_top">
            <b class="tit">我的评论</b>
            <!-- 联系客服 -->
{#            <div id="contact_kf_div" class="u__kf">#}
{#            </div>#}
        </div>

    </div>
    <!-- 便利提醒 End -->

    <div class="clear"></div>

    <div class="account">
        <div class="hisOrd">
                <table class="ho_middle" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="t">
                            <td class="w120">商品照片</td>
                            <td class="w186">商品名</td>
                            <td class="w186">评论</td>
                            <td class="w111">评论时间</td>
                            <td class="w130">操作</td>
                        </tr>
                        {% for user_book_comment in user_book_comments %}
                            <tr class="c">
                                <td class="w120 adjust02" style="text-align:left;">
                                    <img src="{{ user_book_comment.book.image.url }}" alt="">
                                </td>
                                <td class="w186 h70">{{ user_book_comment.book.book_name }}</td>
                                <td class="w186 adjust01">{{ user_book_comment.comment }}</td>
                                <td class="w111 adjust03">{{ user_book_comment.comment_time }}</td>
                                <td class="w130 adjust03">
                                    <a class="c0e7" href="{% url 'bookapp:detail' user_book_comment.book.id %}">查看</a>
                                    <span>|</span>
                                    <a class="c0e7" href="{% url 'bookapp:book_comment' user_book_comment.book.id %}">评论</a>
                                </td>
                            </tr>
                        {% endfor %}


{#                        {% for borrow_book in borrow_book_list %}#}
{#                            <tr class="c">#}
{#                                <td class="w120 h70">{{ borrow_book.id }}</td>#}
{#                                <td class="w186 adjust02" style="text-align:left;">#}
{#                                    <img src="{{ borrow_book.book_image.url }}" alt="">#}
{#                                </td>#}
{#                                <td class="w75 h70"><span class="c333">{{ borrow_book.consignee }}</span></td>#}
{#                                <td class="w111 adjust01">#}
{#                                    <span class="cb01">{{ borrow_book.book_price }}</span><br>#}
{#                                </td>#}
{#                                <td class="w87 adjust01">#}
{#                                    <div>{{ borrow_book.start_time }}</div>#}
{#                                </td>#}
{#                                <td class="w87 h70"><span class="c888">已下单</span></td>#}
{#                                <td class="w130 adjust03">#}
{#                                    <a class="c0e7" target="_blank" href="#">查看</a>#}
{#                                    <span>|</span>#}
{#                                    <a class="c0e7" href="#">评论</a>#}
{#                                    <span>|</span>#}
{#                                    <a class="c0e7" href="javascript:void(0);" style="padding: 0px; margin: 0px; display: inline-block; width: 28px;">#}
{#                                        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float:none;">#}
{#                                            <span class="bds_more2">分享</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <br>#}
{#                                    <a href="javascript:void(0);" class="c0e7">申请返修/退换货</a>#}
{#                                </td>#}
{#                            </tr>#}
{#                        {% endfor %}#}


                    </tbody>
                </table>
        </div>
    </div>
    <!-- order表单 End -->
            <div id="page_nav" style="float: right;">
            	<span>一共有&nbsp;{{ user_book_comments.paginator.count }}&nbsp;条记录&nbsp;&nbsp;</span>
                {% if user_book_comments.has_previous %}
{#                    <span class="pre">#}
                        <a href="?page={{ user_book_comments.previous_page_number }}">上一页
                            <span></span>
                        </a>
{#                    </span>&nbsp;#}
                {% endif %}

{#	      		<span class="cur">1</span>&nbsp;#}

{#	      		<span>&hellip;</span>&nbsp;#}
                    {% if user_book_comments.has_next %}
	      		    <a href="?page={{ user_book_comments.next_page_number }}" class="next">下一页
	      			    <span></span>
	      		    </a>&nbsp;
                    {% endif %}
            </div>
    <!-- 翻页 Begin -->
        <!-- 翻页 End -->

</div>

<!-- 左边菜单 Begin -->
<div class="leftArea">
    <div class="leftArea">
    	<!-- LOGO -->
{#    <div class="u__mine">#}
{#    	<a href="http://user.wbiao.cn/" style="display: block; height: 100%;"></a>#}
{#    </div>#}
        <div style="width: 180px;height: 40px;background: #2176c6;margin: 0 auto;text-align: center;display: table">
            <span style="display: table-cell;vertical-align: middle;color: white">
                <span style="font-size: 16px;">我的书籍&nbsp;</span>
                MY BOOKS
            </span>
        </div>
    <div class="floor">
        <div class="t"><i class="u__trade"></i><font class="f_fixed">交易管理</font></div>
        <div class="c">
            <ul>
                <li><i ></i><a href="{% url 'bookapp:member_center' %}"  title="我的订单"  rel="nofollow">我的订单 (<span class="cb01">{{ book_amount }}</span>)</a></li>
                <!--<li><i></i><a href="#" title="我的预售" rel="nofollow">我的预售 (<span class="cb01">0</span>)</a></li>-->
                <li><i></i><a href="{% url 'bookapp:member_address' %}" title="收货地址" rel="nofollow">收货地址</a></li>
                <!--<li><i></i><a href="#" title="礼品卡" rel="nofollow">礼品卡</a></li>-->
                <!--<li style="border:0;"><i></i><a href="#" title="代金券/优惠券" rel="nofollow">代金券/优惠券</a></li>-->
            </ul>
        </div>
    </div>
    <div class="floor">
        <div class="t"><i class="u__datum"></i><font class="f_fixed">账户管理</font></div>
        <div class="c">
            <ul>
                <li><i></i><a href="{% url 'bookapp:personal_data' %}" title="个人资料" rel="nofollow">个人资料</a></li>
                <li><i></i><a href="{% url 'bookapp:member_change_password' %}" title="修改密码" rel="nofollow">修改密码</a></li>
                <!--<li><i></i><a  href="#" title="我的收藏" rel="nofollow">我的收藏</a></li>-->
                <li><i></i><a  href="{% url 'bookapp:member_brow_history' %}" title="浏览历史" rel="nofollow">浏览历史</a></li>
                <li><i></i><a  href="{% url 'bookapp:member_personality_analysis' %}" title="个性分析" rel="nofollow">个性分析</a></li>
                <li style="border:0;"><i></i><a href="{% url 'bookapp:member_recommend_for_me' %}" title="为我推荐" rel="nofollow">为我推荐</a></li>
            </ul>
        </div>
    </div>
    <!--<div class="floor">
        <div class="t"><i class="u__integral"></i><font class="f_fixed">积分管理</font></div>
        <div class="c">
            <ul>
                <li><i></i><a  href="#" title="我的积分" rel="nofollow">我的积分</a></li>
                <li><i></i><a  href="#" title="积分细则" rel="nofollow">积分细则</a></li>
                <li style="border:0;"><i></i><a  href="#" title="推荐有礼" rel="nofollow">推荐有礼</a></li>
            </ul>
        </div>
    </div>-->
    <div class="floor">
        <div class="t"><i class="u__service"></i><font class="f_fixed">消息管理</font></div>
        <div class="c">
            <ul>
                <!--<li><i></i><a href="#" title="购买咨询" rel="nofollow">购买咨询</a></li>-->
                <li><i></i><a href="{% url 'bookapp:member_comment' %}" title="我的评论" rel="nofollow" class="ccf0">我的评论</a></li>
{#                <li style="border:0;"><i></i><a href="#" title="我的消息" rel="nofollow">我的消息(<span class="cb01">0</span>)</a></li>#}
                <!--<li style="border:0;"><i></i><a href="#" title="促销通知" rel="nofollow">促销通知</a></li>-->
                                <li style="border:0;"><i></i><a href="{% url 'bookapp:member_information' %}" title="我的消息" rel="nofollow">我的消息(<span class="cb01">{{ information_len }}</span>)</a></li>

            </ul>
        </div>
    </div>
    <div class="floor">
        <div class="t"><i class="u__star"></i><font class="f_fixed">书香盈袖会员</font></div>
        <div class="c">
            <ul>
                <li><i></i><a href="#" title="会员简介" rel="nofollow">会员简介</a></li>
            </ul>
        </div>
    </div>
    <div class="logout">
        <a href="{% url 'user:logout' %}" class="c999">退出登录</a>
    </div>
</div></div>
<!-- 左边菜单 End -->

</div>

{% endblock %}





<!-- Begin footer -->
